/* .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15rem;
} */
.login-container{
    display: flex;
    flex-direction: column;
    gap:10rem;
    justify-content: center;
}
.login-box{
    margin-top:20vh;
    border:1px solid black;
    width:30vw;
    padding:35px;
    margin-bottom:10vh;
}
.login-input-box{
    display:flex;
    flex-direction: column;
    padding-top:20px;
}
.login-input-box input{
    width:98%;
    height:5vh;
}
.login-input-box button{
    width:100%;
    padding:10px;
    cursor: pointer;
}
.render-to-signup{
    color:blue;
    cursor: pointer;
}