h1{
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Select{
    margin: 10px;
    height: 50px;
}
.stories-header{
    padding-left: 200px;
}

.Stories-upper-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}

.Stories{
    padding-left: 100px;
    padding-right: 100px;
    margin: 100px;
    margin-top: 0;
}
.Stories-container{
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 30% 70%;
}

.Stories-container-left{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-right: 0;
}

.Stories-container-left img{
    height: 200px;
    width: 260px;
}

.Stories-container-right{
    padding: 20px;
}
.Stories-container-right button{
    float: right;
    margin-right: 20px;
    padding: 10px;
    background: none;
    border: 2px solid rgb(225, 177, 5);
}

.Stories-container-right button:hover{
    background-color: rgb(225, 177, 5);
    color: #000;
}


@media only screen and (max-width: 1024px){
    h1{
        font-size: 27px;
    }
    .Stories-container{
        grid-template-columns: 1fr;
    }
    p{
        font-size: 15px;
    }
    .Stories{
        padding-left: 0;
        width: fit-content;
    }
    .Stories-container-left{
        margin-left: 0;
    }
    /* .Stories-upper-nav{
        margin: 2px;
        padding: 2px;
    }
    .Stories-upper-nav .Select{
        margin-right: 40px;
    } */
    .Stories-container-left img{
        margin-left: 90px;
    }
}

@media only screen and (max-width: 400px){
    .stories-header{
        padding-left: 70px;
    }
    .Stories-upper-nav .Select{
        /* justify-content: space-between; */
        padding-left: 10px;
    }
    .Stories{
        margin: auto;
    }
    .Stories-container{
        margin-left: 3rem;
    }
    .Stories-container-left img{
        margin-left: 12px;
    }
}