.events-heading h1{
    text-align: center;
    margin-top: 2rem;
}
.events-heading p{
    text-align: center;
    color:gray;
    font-size:15px;
}
.upcoming-events{
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-box{
    padding:0.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}


.events-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 4rem 0rem 4rem;
}
.add-events button{
    padding:20px;
    background: orange;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    border-radius: 1rem;
}

@media screen and (max-width:900px) {
    .events-heading h1{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .events-box{
        grid-template-columns: 1fr;
    }
}